<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6" *ngFor="let product of cartProducts">
        <div class="card product-card">
          <img
            src="{{ product.image_link }}"
            alt="{{ product.name }}"
            class="card-img-top product-img"
          />
          <div class="card-body">
            <h5 class="card-title product-title">{{ product.name }}</h5>
            <p class="card-text product-description">
              {{ product.description }}
            </p>
            <p class="product-price">
              Price: {{ product.price }} {{ product.price_sign }}
            </p>
            <button class="btn product-btn" (click)="removeFromCart(product)">
              Видалити з кошика
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn product-btn" (click)="close()">
      Close
    </button>
  </div>
</div>
