<footer class="text-center text-white"
style="background-color: #ffb6c1">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://www.instagram.com/karpetskyu/"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/ruslan-karpetskyi-a38575193/"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/KKRuslan"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &#169; 2024 Copyright:
      <a class="text-white" href="#">Karpetskyi Ruslan</a>
    </div>
  </footer>
