<div class="container">
  <div class="sortBy">
    <label>Sorted by:</label>
    <select
      class="form-select"
      [(ngModel)]="sortDirection"
      (change)="updateDisplayedProducts()"
    >
      <option value="default">Default</option>
      <option value="asc">price, low to high</option>
      <option value="desc">price, high to low</option>
      <option value="ratingAsc">rating, low to high</option>
      <option value="ratingDesc">rating, high to low</option>
    </select>
  </div>
  <div class="row">
    <div
      class="col-xl-4 col-lg-6 mb-4"
      *ngFor="let product of displayedProducts"
    >
      <div class="card product-card">
        <img
          src="{{ product.image_link }}"
          class="card-img-top product-img"
          (error)="setDefaultImage(product)"
        />
        <div class="card-body">
          <h5 class="card-title product-title">{{ product.name }}</h5>
          <p class="card-text product-description">
            {{ product.description }}
          </p>
          <p class="product-price">
            Price: {{ product.price }} {{ product.price_sign }}
          </p>
          <p class="product-price">Rating: {{ product.rating }}</p>
          <button class="btn product-btn" (click)="addToCart(product)">
            Додати в кошик
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<nav aria-label="...">
  <ul class="pagination pagination-circle">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button
        class="page-link"
        (click)="loadPreviousPage()"
        tabindex="-1"
        aria-disabled="true"
      >
        Previous
      </button>
    </li>

    <li
      class="page-item"
      *ngFor="let page of visiblePages"
      [class.active]="page === currentPage"
    >
      <button class="page-link" (click)="loadPage(page)">{{ page }}</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="loadNextPage()">Next</button>
    </li>
  </ul>
</nav>
