<div class="container"></div>
<div
  class="bg-image"
  style="
    background-image: url('https://img.freepik.com/free-photo/cosmetic-brush-cloud-pink-powder-dark-background_23-2148209048.jpg?w=826&t=st=1706116502~exp=1706117102~hmac=130a8f474ddf993b917798ecd587561b5dd66692a4477fbb97349b72f9948ba7');
    height: 100vh;
  "
>
  <div class="container-fluid">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div
        class="d-flex flex-column justify-content-center align-items-center h-100"
      >
        <h2 class="main-text text-white mb-4">
          Welcome to <span>Beauty Shop</span>
        </h2>
        <p class="main-text text-white">
          Here you can find everything you need!
        </p>
      </div>
    </div>
  </div>
</div>
